In [25]:
import pandas as pd
from sklearn.datasets import load_diabetes
import warnings

warnings.filterwarnings('ignore')

from utils import *
from rankers import *

In [2]:
diabetes = load_diabetes(as_frame=True)
df = diabetes.data.merge(diabetes.target, left_index=True, right_index=True)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [3]:
view_data(df)

The column age has 0.0% NaN values.
The column sex has 0.0% NaN values.
The column bmi has 0.0% NaN values.
The column bp has 0.0% NaN values.
The column s1 has 0.0% NaN values.
The column s2 has 0.0% NaN values.
The column s3 has 0.0% NaN values.
The column s4 has 0.0% NaN values.
The column s5 has 0.0% NaN values.
The column s6 has 0.0% NaN values.
The column target has 0.0% NaN values.

In [4]:
X, y = get_data(df, labels='target')
X.shape

(442, 10)

In [29]:
hypers = regression_hyper_param_search(X, y, 5, 50)
hypers

Fitting 5 folds for each of 50 candidates, totalling 250 fits
Best spearmn for XGBoost: 0.6622266968033357
Fitting 5 folds for each of 50 candidates, totalling 250 fits
Best spearmn for Random_Forest: 0.6613465169763042

[{'model': 'XGBoost',
  'best_score': 0.6622266968033357,
  'best_params': {'subsample': 0.6666666666666666,
   'reg_lambda': 46.41588833612777,
   'reg_alpha': 46.41588833612777,
   'n_estimators': 1000,
   'min_child_weight': 1,
   'max_depth': 3,
   'learning_rate': 0.01544452104946379,
   'gamma': 0.4444444444444444,
   'colsample_bytree': 0.5555555555555556}},
 {'model': 'Random_Forest',
  'best_score': 0.6613465169763042,
  'best_params': {'n_estimators': 560,
   'min_samples_split': 2,
   'min_samples_leaf': 4,
   'max_features': 'sqrt',
   'max_depth': 70,
   'bootstrap': True}}]

In [30]:
rf_hypers = hypers[1]['best_params']
xb_hypers = hypers[0]['best_params']

In [31]:
ranking = regression_ranking(X, y, rf_hypers, xb_hypers)
ranking

Finding Alpha Step:   0%|          | 0/30 [00:00<?, ?it/s]

Ranking l1 Regression:   0%|          | 0/10000 [00:00<?, ?it/s]

,RF,Score,XG,Score,MI,Score,F,Score,Feature,Score
0,s5,0.256753,bmi,0.222327,bmi,0.171543,bmi,230.653764,bmi,45.161
1,bmi,0.253588,s5,0.210380,s5,0.144718,s5,207.271194,s5,42.301
2,bp,0.118178,s4,0.122775,s6,0.119368,bp,106.520131,bp,21.542
3,s3,0.079558,bp,0.108313,s4,0.095004,s4,100.069264,sex,6.189
4,s6,0.076546,sex,0.070951,bp,0.070096,s3,81.239659,s6,4.223
5,s4,0.068036,s6,0.065961,s1,0.068058,s6,75.399683,s1,3.281
6,s2,0.047342,s3,0.065427,s3,0.061307,s1,20.710567,s4,0.951
7,s1,0.045287,s2,0.048190,sex,0.025629,age,16.101374,s2,0.260
8,age,0.042137,age,0.044792,s2,0.011763,s2,13.746079,age,0.242
9,sex,0.012575,s1,0.040885,age,0.000000,sex,0.817423,s3,0.062